body {
  background: grey;
}

.row {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding: 50px;
}

.container {
  font-size: 30px;
  font-family: "Baloo Bhaijaan";
  border: 2px outset white;
  padding: 10px;
}

#quote-container {
  background: gold;
}

#button-container {
  background: deepskyblue;
}

#twitter-container {
  width: 300px;
  margin: auto;
  background: crimson;
  color: white;
}

.fa {
  font-size: 50px;
}
